# Node.js dependencies
node_modules/

# TypeScript compiled output
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Jest coverage and test results
coverage/
jest-html-reporters-*.html

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Other
*.tsbuildinfo
